 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body,
 html {
     background-color: #f6f7fa;
     font-family: 'Roboto', sans-serif;
     width: 100%;
 }
 
 .secondary-color {
     
     background-color: #5584ff;
 }
 
.bottom-border {
     border-bottom: 1px solid #d4d9e3;
 }

/***** LEFT NAV STYLES *******/

 #navigation {
     z-index: 9999;
 }
 
 .left-nav-container {
     position: fixed;
     background-color: #0e1a35;
     width: 200px;
     height: 100%;
     top:0;
     left:0;
 }
 
 .top-logo {
     height: 100px;
     display: flex;
     align-items: center;
 }
 
 .top-logo img {
     margin-left: 30px;
 }
 
 .left-nav {
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
 }
 
 .left-nav ul {
     list-style-type: none;
 }
 
 .left-nav li {
     height: 70px;
     color: white;
     padding-left: 30px;
     border-bottom: 1px solid #0d172e;
     display: flex;
     align-items: center;
     font-weight: 500;
    
 }
 
 .left-nav li:hover {
     background-color: #122143;
     border-left: 5px solid #5584ff;
     padding-left: 25px;
 }
 
 .left-nav li img {
     margin-right: 10px;
 }
 
 .slide-in {
     left: 0px!important;
     transform: translateX(0px);
     transition: all 1s;
 }
 
 .slide-out {
     left: -200px!important;
     transform: translateX(0px);
     transition: all 0.3s;
 }
 
/***** HEADER STYLES *******/

 .header {
     background-color: white;
     height: 120px;
     display: flex;
     flex-direction: row;
     min-width: 100%;
     justify-content: space-between;
     position: fixed;
     top:0;
     z-index: 999;
 }
 
 .left-header-area {
     /*background-color: lightblue;*/
     height: 100%;
     margin-left: 200px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
 }
 
 .right-header-area {
     /* background-color: lightblue;*/
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-end;
 }
 
 .user-image {
     width: 100px;
     height: 100px;
     display: flex;
     align-items: center;
     padding: 20px;
 }
 
 
 
 .icon-wrapper {
     padding-left: 30px;
     padding-right: 30px;
     height: 100%;
     display: flex;
     align-items: center;
 }
 
 .icon-wrapper:hover {
     background-color: #f4f5f8;
     cursor: pointer;
 }
 
 .menu-icon span {
     padding-right: 5px;
     font-size: 18px;
 }
 
 .add-project {
     border-radius: 20px;
     border: 1px solid #ffffff;
     padding: 10px;
     line-height: 15px;
     font-size: 15px;
     color: white;
     width: 170px;
     height: 40px;
 }
 
/***** MAIN CONTENT STYLES *******/

 .content-container {
     margin-left: 200px;
     margin-top: 130px;
     display: flex;
     flex-direction: column;
     padding-top: 5px;
     align-items: center;
     position: relative;
     z-index: 0;
 }
 
 .content-row {
     margin-top: 5px;
     margin-bottom: 5px;
     padding-left: 30px;
     padding-right: 30px;
     /*max-width: 1600px;*/
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
 }
 
 .content-row-inner {
     width: 100%;
     /*min-width: 890px;*/
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 
 .content-box {
     border: 1px solid #d4d9e3;
     background-color: white;
     margin-bottom: 20px;
 }
 
/******* TOP DIAGRAMS **********/

 .diagram img {
     width: 100%;
     max-width: 580px;
     height: auto;
 }
 
.diagram2 img {
     width: 100%;
     max-width: 890px;
     height: auto;
 }
 
 .diagram {
     min-width: 400px;
     height: auto;
     display: flex;
     justify-content: center;
 }
 
.diagram1{
   
    width:48%;
    margin-right: 10px;
    
}
 .diagram2 {
    width:48%;
 }
 
/***** BOTTOM LIST STYLES *******/


 .list {
     width:31%;
     min-width: 400px;
 }
 
 .list .list-header {
     display: flex;
     justify-content: space-between;
     height: 70px;
 }
 
 .list .list-header .list-header-left {
     height: 70px;
     font-size: 20px;
     line-height: 70px;
     font-weight: bold;
     padding-left: 20px;
 }
 
 .list .list-header .list-header-right {
     height: 100%;
     display: flex;
     padding-right: 20px;
     align-items: center;
     justify-content: flex-end;
     flex-direction: row-reverse;
 }
 
 .list .list-header .list-header-item {
     margin-left: 10px;
 }
 
 .list ul {
     list-style-type: none;
 }


 
 .messages-list .seen {
     background-color: #f4f5f8;
     border-left: 1px solid #d4d9e3;
 }
 
 .list ul li {
     height: 100px;
     display: flex;
     align-items: center;
     padding-left: 30px;
     justify-content: space-between;
 }
 
 .list ul li:hover {
     background-color: #f4f5f8;
     border-left: 1px solid #d4d9e3;
 }
 
 .list ul li:last-of-type {
     border-bottom: none
 }
 
 .list ul li .highlighted {
     color: #f83c7b;
 }
 
 .list-item-right {
     padding-right: 30px;
     opacity: 0.5;
 }
 
 .list-item-left {
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }
 
 .list-item-text {
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     margin-left: 10px;
 }
 
 .list-item-text img {
     margin-right: 5px;
     opacity: 0.5;
 }
 
 .list-item-text .first-row {
     font-size: 16px;
     font-weight: bold;
 }
 
 .list-item-text .first-row-smaller {
     font-size: 12px;
     font-weight: bold;
     color: darkgray;
 }

.activity-list .first-row-smaller {
     margin-right:5px;
     font-size: 13px;
 }
 
 .list-item-text .first-row-smaller img {
     width: 12px;
     height: 12px;
 }
 
 .list-item-text .second-row {
     display: flex;
     align-items: center;
     max-width: 300px;
     overflow: hidden;
     color: darkgray;
 }
 
 .list-item-text .third-row {
     margin-top: 5px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
 }
 
 .list-item-text .third-row img {
     opacity: 0.4;
     margin-right: 8px;
     width: 14px;
     height: 14px;
 }
 
 .circle {
     width: 40px;
     height: 40px;
     border-radius: 20px;
     font-size: 20px;
     font-weight: bold;
     color: #fff;
     line-height: 40px;
     text-align: center;
     background: #5584ff;
 }
 
 .circle-second {
     background: #f83c7b;
 }
 
.circle-image {
    object-fit: none; /* Do not scale the image */
  object-position: top; /* Center the image within the element */
  height: 40px;
  width: 40px;
    border-radius: 20px;
  
  
}

 h1 {
     width: 100%;
     font-weight: 500;
     color: #0e1a35;
 }
 

/************ MOBILE AND DEVICES ***********/

 @media screen and (max-width:1599px) {
     .content-row {
         width: 100%;
     }
     .content-row-inner {
         flex-wrap: wrap;
         display: flex;
         justify-content: flex-start;
     }
     .list {
         margin-right: 20px;
     }
     .content-row-inner {
         display: flex;
         justify-content: flex-start;
     }
     
      .left-header-area{
         
         margin-left: 0px;
     }
     
     .content-container{
         
         margin-left: 0px;
     }
     
      .left-nav-container{
          top:120px;
          left:-200px;
          
     }
 }
 
 @media screen and (max-width:720px) {
     .content-container {
         display: flex;
         flex-direction: column;
     }
     
    
 }